@model ML.Empleado
@{
    ViewBag.Title = "Salario de empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Salario</h2>
            <h5>Ingrese el salario que desea actualizar:</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FormSalario", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="row">







                        <div class="col-md-3" style="display : none;">
                            @Html.LabelFor(model => model.UserId, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.UserId, new { @class = "form-control", @id = "txtUserId" })
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", disabled = true })
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Sueldo)
                            @Html.TextBoxFor(model => model.Sueldo, new { @class = "form-control", @id = "txtSueldo" })
                        </div>








                    </div>













                </div>






                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Actualizar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>

            }
        </div>
    </div>
</div>